root = true

[*]
charset = utf-8

[*.cs]
csharp_new_line_before_open_brace = none
dotnet_diagnostic.RS1024.severity = warning
dotnet_code_quality.RS1024.banned_symbols = T:Godot.GD.Print ;Use Log.Info instead!